body {
    font-family: 'Brush Script', cursive;
    background-color: hsl(21, 43%, 91%);
    color: rgb(22, 9, 9);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Brush Script', cursive;
    font-size: xxx-large;
    color: rgb(22, 9, 9);
}


.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: hsl(24, 38%, 97%);
    padding: 20px;
    box-shadow: 0 0 10px rgba(31, 30, 30, 0.2);
    display: grid;
    justify-items: stretch;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

#searchInput {
    padding: 10px;
    width: 60%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font: inherit;
    font-family: monospace;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: rgb(22, 9, 9);;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font: inherit;
}

button2 {
    padding: 10px 20px;
    margin-left: 10px;
    color:  rgb(22, 9, 9);
    background-color: hsl(21, 43%, 91%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font: inherit;
}

.recipe-list-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
}
.selected-recipe-container {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 2;
    text-align: center;
    list-style-type: circle;
    background-color: antiquewhite;
    border-radius: 1em;
    border-color: black;
    border-width: 5px;
    border-style: double;
}
.ingredient-list-container {
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 3;
}
.shopping-list-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3;
    text-align: center;
    list-style-type: circle;
    background-color: antiquewhite;
    border-radius: 1em;
    border-color: black;
    border-width: 5px;
    border-style: double;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;

}

ul {
    list-style-type: none;
    padding: 0;
    font-family: monospace;
    text-align: left;
    margin-left: 10px;
}

li {
    margin-bottom: 5px;
    cursor: pointer;
    font-style: normal;
    text-align: left;
}

li:hover {
    background-color: cornsilk;
}
